<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RealTrack.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC79AB512D7505C300FCAF70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC79AB632D7505C400FCAF70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC79AB6D2D7505C400FCAF70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
